.n-actions {
  padding: 0 12px 0 12px !important;
}

.btn:hover, .btn:focus {
  background-color: transparent;
}

.btn:hover {
  color: #fff;
}

.card .card-content {
  text-align: justify;
}



.card-list-item {
  background-color: #fff;
  width: 100%;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;

}

.card .card-header {
  background-color: inherit;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 16px 24px 0 24px;
  border-radius: 0 0 2px 2px;
}

.card .headers{
  text-align: right;
}

/*Icons*/
.icons{
	font-size: 18px !important;
    width: 16px;
    text-align: center;
}

.focus-y {
	display: none;
}



/*icons*/