{% extends "find/base.html" %}

{% block  content_page %}
{% load static %}
<div class="row">
    <div class="col s8">
      <div class="card white accent-4">
        <div class="card-header">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="{% static 'find/img/avatar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                    <span class="black-text card-title">
                            <a href="#">Nelzio Sitoe</a> procura por um Canalizador
                    </span>
                    <span>Canalizador para um condominio na cidade de maputo com um prazo de 12 meses.</span>
                </div>
            </div>
        </div>
        <div class="card-content black-text ">
          <div class="headers">
                <div>
                    <i class="fa fa-map-marker teal-text icons text-accent-4"></i>
                    <span>Maputo Cidade, Bairro Central.</span>
                </div>
                <div>
                    <i class="fa fa-clock-o teal-text icons text-accent-4"></i>
                    <span>12/05/19 <i class="fa fa-arrow-right teal-text text-accent-4"></i> 15/05/19</span>
                </div>
                <div>
                    <i class="fa fa-dollar teal-text icons text-accent-4"></i>
                    <span>5000Mt <i class="fa fa-arrow-right teal-text text-accent-4"></i> 8000Mt</span>
                </div>
          </div>
          <span class="card-title">Profissional</span>
          <p>
              Procura-se um canalizador com experiencia em bla bla bla para consertar blabla bla
          </p>
          <span class="card-title">Descricao</span>
          <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid quibusdam hic facere unde repellendus dolorum, praesentium blanditiis accusantium nihil voluptas neque molestias aperiam dolorem soluta? Velit corporis exercitationem saepe laborum?
          </p>
        </div>
        <div class="card-action n-actions">
            <div class="row">
                <button data-target="modal1" class="waves-effect waves-lighten teal-text btn btn-flat modal-trigger col s12">Concorer</button>
            </div>
        </div>
      </div>
    </div>
    <div class="col s4">
        <div class="card white accent-4">
          <div class="card-content black-text">
            <span class="card-title">Canalizador</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action n-actions">
              <div class="row">
                  <a class="waves-effect waves-lighten teal-text btn btn-flat col s12" href="#">Ver Perfil</a>
              </div>
          </div>
        </div>
      </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <div class="row">
            <form action="" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="valor" type="text" class="validate">
                        <label for="valor">Proposta de Valor</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="ab" type="text" class="validate">
                        <label for="ab">First name</label>
                    </div>
                </div>
                <div class="row">
                        <div class="input-field col s12">
                            <textarea name="message" id="message" cols="30" rows="10" class="materialize-textarea"></textarea>
                            <label for="message">Uma mensagem de apelo.</label>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-lighten teal-text btn btn-flat col s6" href="#!">Enviar</a>
        <a class="modal-close waves-effect waves-lighten teal-text btn btn-flat col s6" href="#!">Cancelar</a>
    </div>
</div>

{% endblock  %}